@import "./variables.scss";

.container {
    background: $bg;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding-top: $headerHeight;
    min-height: calc(100vh - #{$headerHeight} - 10px);
    flex-direction: column;

    max-width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        padding-top: 15px;
        font-size: 2.2rem;
        font-weight: 800;
        text-decoration: none;
    }

    .selector {
        margin-top: 30px;
        width: 20rem;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 30px;
        z-index: 11;
    }

    .mySelect {
        width: 100%;
    }

    .layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}