.rbc-calendar {
    width: 23rem;
    margin-bottom: 50px;
    border: 1px solid #fff;
    text-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
}

.rbc-month-view {
    width: 95%;
    height: 95%;
    text-wrap:balance;
}

.rbc-event-content {
    text-align: center;
    text-wrap: balance;
}

.rbc-event-content {
    white-space: pre-wrap;
}

.rbc-day-bg {
    border: 0.1px solid;
    margin: 0;
}

.rbc-row-bg {
    margin: 0;
}

@media only screen and (min-width: 576px) {
    .rbc-calendar{
        width: 40rem;
    }
}

.rbc-toolbar-label {
    margin-top: 10px;
}